<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem vindo às noticias</h1>
  <p>Para vizualizar todas as notícias adicione /noticias na barra de pesquisa do navegador</p> 
  <p>Para vizualizar somente a primeira notícia adicione /noticias/01 na barra de pesquisa do navegador</p>
  </body>
</html>

