<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	 crossorigin="anonymous">
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
<div class="m-5 border">
  <h2 class="text-center pt-3">SIG da 1ª DP de Nova Andradina recupera bicicleta furtada</h2><br>
  
  <h5 class="m-5">Acácio Gomes</br>
01/10/2021 às 16:22</h5>
<center>
  <img class=" col-xs-10 col-md-7" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47633/center_0110bike.jpg" alt="bicicleta"> </center>
<div class="m-5">
  <h4>A Seção de Investigações Gerais (SIG) da 1ª Delegacia de Polícia (1ª DP) de Nova Andradina recuperou, nesta quinta-feira (30/09) uma bicicleta furtada.</h4>
  <h4>Logo que o furto foi comunicado, os policiais iniciaram diligências que culminaram na localização da bicicleta no centro da cidade, porém, nenhum suspeito estava nas proximidades.</h4>
  <h4>Após a recuperação, foram realizadas outras averiguações visando a apuração do responsável pelo fato, sendo que, os trabalhos seguem mesmo após a restituição do bem à vítima.
  </h4></div></div>
</body>
</html>
