<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
	 crossorigin="anonymous">
  </head>
  <body>

  <center> <h1 class="pt-5">Notícias G7</h1></center>

  <div class="m-5 border">
    <div><center>
 <h3 class="p-3">SIG da 1ª DP de Nova Andradina recupera bicicleta furtada</h3>
 <img class="col-xs-5 col-md-5 p-2" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47633/center_0110bike.jpg" alt=""></center></div>


<div class="p-3"><center>
<h3>SAMU celebra 8 anos de serviços prestados em Nova Andradina</h3>
<img class="col-xs-5 col-md-5 p-2" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47628/center_0110samu3.jpg" alt=""></center></div>



<div class="p-5"><center>
<h2>Nova Andradina: Ex-vereador é preso acusado de furtar produtos avaliados em R$ 20 mil</h2>
<img class="col-xs-8 col-md-6 p-2" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47557/center_2809f.jpg" alt=""></center>
</div>

<div class="p-3"><center>
<h2>Paraplégico, morador de Nova Andradina tenta arrecadar R$ 10 mil para construir cômodo adaptado</h2>
<img class="col-xs-4 col-md-5 p-2" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47602/center_3009h.jpg" alt=""></center></div>

<div class="p-3"><center>
<h2>Escritora de Nova Andradina lança livro de poesias, cartas e versos pela maior editora do Brasil e de Portugal no segmento</h2>
<img class="col-xs-5 col-md-5 p-2" src="https://cdn2.novanews.com.br//uploads/rails_admin_content_builder/content_builder_image/image/47503/center_Design_sem_nome__3_.jpg" alt=""></center></div></di>
  </body>
</html>
